:root {
	--clr-text: #f0f0f0;      /* Light Gray */
	--clr-number: #3498db;    /* Bright Blue */
	--clr-special: #e74c3c;   /* Reddish */
	--clr-display: #2c3e50;   /* Dark Blue */
	--clr-hover: #95a5a6;     /* Steel Gray */
	--clr-operator: #27ae60;  /* Green */
	--clr-calculator: #ecf0f1; /* Light Gray */
}
html {
	color-scheme: light dark;
	padding: 0;
	margin: 0;
}
body {
	background-color: var(--clr-text);
}
main {
	display: flex;
	justify-content: center;
	min-height: 300px;
	height: 75vh;
}
.calculator {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	max-width: 400px;
	height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
	box-sizing: border-box;
}
.display {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 15%;
	text-align: right;
}
.buttonGrid {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.buttonStyle {
	background-color: var(--clr-surface);
	color: var(--clr-text);
    font-size: 2.5rem;
}
.displayStyle {
	color: var(--clr-text);
	background-color: var(--clr-display);
	font-size: 4rem;
}
.buttonStyle, .displayStyle {
	border: 2px solid 	var(--clr-calculator);
	border-radius: 10px;
	box-shadow: 0px 0px 2px 2px rgb(0,0,0);
}
button:hover {
    background-color: var(--clr-hover);
}
.numberButton, .modeButton, .decimalButton {
    background-color: var(--clr-number);
	transition: background-color 0.3s ease;
}
.operatorButton, .equalsButton {
	transition: background-color 0.3s ease;
	background-color: var(--clr-operator);
}
.acButton, .specialButton {
	background-color: var(--clr-special);
	transition: background-color 0.3s ease;
}